<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
<h1>   user side </h1>
    hello i'm ravikaushal i'm a software devloper 

    i build software for travel 

    in this application provide 

    travel sevices
    hotels and restrorent
    street foods 
    pg and lodges
    tour guide
     bikes and cabs for local tavel travel

     and create and suggest place for travels 
     
     user only enter date and location  this app calculate and provide 
     cheap to according budget price for journey 

     if user want  to create plan  without any work only pay money this app create app  books according ot date and loction alls 
     user filter this,  mean user according to him filer services 

     
<h1>vendor side </h1>
vendor register  in this his bussiness 
provide documents for user security 

in this two type vendors 
1 vendor pay charges monthly for this
2 app to cut commisions for profit  through acustomers

<h1>devlopers /mangers</h1>
6 mangers / devlopers

1 travels all 
2 hotels and restrorent
3 pg and hostels 
4 guide and cabs 
5 to manange all for bind 
6 payment 


</body>
</html>